<div class="footer">
	<div class="wrapper-footer">
		<ul class="footer-block block-1 first">
			<li class="first"><h2>Logistisc</h2></li>
			<li>Pellentesque habitant morbi</li>
			<li>Pellentesque habitant morbi</li>
			<li>Pellentesque habitant morbi</li>
			<li>Pellentesque habitant morbi</li>
		</ul>
		
		<ul class="footer-block block-2">
			<li class="first"><h2>XNK</h2></li>
			<li>Pellentesque habitant morbi</li>
			<li>Pellentesque habitant morbi</li>
			<li>Pellentesque habitant morbi</li>
			<li>Pellentesque habitant morbi</li>
		</ul>
		
		<ul class="footer-block block-3">
			<li class="first"><h2>Tư Vấn Huy Động Vốn</h2></li>
			<li>Pellentesque habitant morbi</li>
			<li>Pellentesque habitant morbi</li>
			<li>Pellentesque habitant morbi</li>
			<li>Pellentesque habitant morbi</li>
		</ul>
		
		<ul class="footer-block block-4 last">
			<li class="first"><h2>Tư Vấn Thành Lập Dự Án</h2></li>
			<li>Pellentesque habitant morbi</li>
			<li>Pellentesque habitant morbi</li>
			<li>Pellentesque habitant morbi</li>
			<li>Pellentesque habitant morbi</li>
		</ul>
	</div> <!-- end .wrapper-footer -->
</div> <!-- end .footer -->

<div class="final">
	<div class="footer-info">
		<span> Copyright &copy by DangLuan 2013 .   Email : <a href="#" class="white-link">dangluan20@gmail.com</a>  .  Tel : 01696828130</span>
	</div>
</div>