<div class="header">
	  <a href="/"><div id="logo"></div></a>
	  
</div><!-- end. header -->
<div class="navigation">
  <div class="wrapper-top">
    <ul id="menu_top">
      <li class="nav selected first" data-url="/" data-load-element="#stage" data-method="GET"><a class="nav-link" href="#" >TRANG CHỦ</a></li>
      <li class="nav"><a href="#">GIỚI THIỆU</a></li>
      <li class="nav activity"><a href="#">HOẠT ĐỘNG</a></li>
      <li class="nav"><a href="#">LĨNH VỰC KHÁC</a></li>
      <li class="nav last" data-url="/clients/new_contact" data-load-element="#stage" data-method="GET"><a href="#" class="nav-link" >LIÊN HỆ</a></li>
    </ul>
			<div class="search-box">
				<input type="text" size="30" name="questions" value="  "/>
			</div>
  </div>
</div>