<div class="menu-left hidden">
	<div class="container nav-wrapper">
    <h2>Menu</h2>
    <div class="vnav">
      <ul class="vnav-menu">
        <li class="active dynamic-link" data-url="/clients/index" data-load-element="" data-method="GET" data-type="rent">
          <a href="#" class="vnav-item" >
            <i class="icon-friends"></i>
            Cho Thuê BDS
            <span class="vnav-counter"><%= Land.land_count("rent")%></span>
          </a>
        </li>
        <li class="dynamic-link" data-url="/clients/index" data-load-element="" data-method="GET" data-type="sale">
          <a href="#" class="vnav-item " >
            <i class="icon-video"></i>
            Bán BDS
            <span class="vnav-counter"><%= Land.land_count("sale")%></span>
          </a>
        </li>
        <li>
          <a href="#" class="vnav-item">
            <i class="icon-photo"></i>
            Dịch Vụ Logistics
            <span class="vnav-counter">15</span>
          </a>
          <ul class="vnav-subnav">
            <li><a href="#">Family <span class="vnav-counter">16</span></a></li>
            <li><a href="#">Vacation <span class="vnav-counter">23</span></a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="vnav-item">
            <i class="icon-podcast"></i>
            Xuất Nhập Khẩu
            <span class="vnav-counter">42</span>
          </a>
          <ul class="vnav-subnav">
            <li class="active dynamic-link" data-url="/clients/products" data-load-element="" data-method="GET" data-type="import"><a href="#">Sản phẩm XK <span class="vnav-counter">16</span></a></li>
            <li class="dynamic-link" data-url="/clients/products" data-load-element="" data-method="GET" data-type="export"><a href="#" class="active">Sản phẩm NK <span class="vnav-counter">23</span></a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="vnav-item">
            <i class="icon-podcast"></i>
            Tư Vấn
            <span class="vnav-counter">42</span>
          </a>
          <ul class="vnav-subnav">
            <li><a href="#">Huy Động Vốn <span class="vnav-counter">16</span></a></li>
            <li><a href="#">Thành Lập Dự Án <span class="vnav-counter">23</span></a></li>
          </ul>
        </li>
      </ul>
    </div> <!-- end .vnav -->
  </div>
 <br />
</div> <!-- end # menu-left -->
<br />
<div class="ads-banner base-box">
	<h3 class="ads-title">Hot Line</h3>
	<p class="phone-n">1696828130</p>
	<p class="phone-n">1696828130</p>
	<p class="phone-n">1696828130</p>
</div>
<br />
<div class="left-trademarks">
	<% if @trades_left = Trademark.get_trademarks("left")%>
		<%= render :partial => "/shared/left_trademarks", locals: {trades_left: @trades_left}%>
	<% end%>
</div>
