
	<ul id="js-news" class="js-hidden">
		<% news = Land.get_news_land%>
		<% news.each do |new|%>
    	<li class="news-item"><a href="#" class="dynamic-link" data-url="/clients/<%= new.id%>/show" data-method="GET" data-load-element="#stage"><%= new.title %></a></li>
    <% end %>
	</ul>

<script language="JavaScript">
	$(function () {
  	$('#js-news').ticker({ speed: 0.8, displayType: 'fade', fadeInSpeed: 600, titleText: 'Breaking news' });     
  });
</script>