<div class="thank-wrapper">
	<h3>Administrator</h3>
	<div class="thankyou">
		<p>Cảm ơn <%= contact.full_name %>, Chúng tôi đã nhận được phản hồi từ bạn</p>
		<p>Chúng tôi sẽ trả lời bạn qua email sớm nhất có thể,</p>
		<p>Hãy ghé thăm website thường xuyên để cập nhật thông tin bất động sản mới nhất</p>
		<p>chúc bạn thành công trong công việc và cuộc sống</p>
		<p>Thân chào.</p>
		<br />
		<h2>Landvina Corp</h2>
	</div>
</div>
