<div class="host-items">
	<div class="item dynamic-link" data-url="/clients/index" data-load-element="#stage" data-method="GET" data-type="sale">
		<div class="content">
			<h2>Bán BĐS</h2>
			<div class="sale-icon"></div>
		</div> <!-- end .content -->
	</div>
	<div class="loading-container">
		<div class="ajax-loading hidden">
				<img src="/assets/cus-loading.gif" atl="Loading ..."/>
		</div>
	</div>
	
	<div class="item dynamic-link" data-url="/clients/index" data-load-element="#stage" data-method="GET" data-type="rent">
		<div class="content">
			<h2>Thuê BĐS</h2>
			<div class="rent-icon"></div>
		</div> <!-- end .content -->
	</div>
</div> <!-- end .host-items -->