@import "bourbon";

.hidden{
  display: none !important;
}


@font-face {
  font-family: 'entypo';
  src: url('./entypo/entypo.eot');
  src: url('./entypo/entypo.eot') format('embedded-opentype'),
    url('./entypo/entypo.woff') format('woff'),
    url('./entypo/entypo.ttf') format('truetype'),
    url('./entypo/entypo.svg#Entypo Social') format('svg');
  font-weight: normal;
  font-style: normal;
}

.entypo-icon{
  font-family: 'entypo';
  display: inline-block;
  text-align: center;
  font-size: 31px;
  height: 35px;
  text-align: center;
  width: 24px;
}

div.clocks{
  margin-bottom: 10px;
  canvas#clockid{
    width: 200px ;
    height: 100px;
  }
}

div.land-news{
  width: 100%;
  height: 20px;
}

div.supports {
  ul{
    li{
      @include clearfix;
      margin: 5px;
      height: 20px;
      a{
        float: left;
        padding-left: 5px;
      }
      span{
        float: left;
        margin: 8px 0px 0px 5px;
        font-size: 10px;
        font-weight: bold;
      }
    }
  }
}

div.footer-actions{
  border-radius: 5px 0 0 0;
  bottom: 73px;
  box-shadow: -1px -1px 5px #CCCCCC;
  height: 253px;
  position: fixed;
  right: -4px;
  width: 68px;
  z-index: 1000;
  ul {
    @include clearfix;
    list-style: none;
    display: inline;
    li {
      cursor: pointer;
      float: left;
      &.client-icon-phone{
        background-position: 0px 0px;
        &:hover {
          background-position: 0px -72px;
        }
      }
      &.client-icon-mail{
        background-position: -62px 0px;
        &:hover {
          background-position: -62px -72px;
        }
      }
      &.client-icon-share{
        background-position: -124px 0px;
        &:hover {
          background-position: -124px -72px;
        }
      }
      &.client-icon-like{
        background-position: -185px 0px;
        &:hover {
          background-position: -185px -72px;
        }
      }
    }
  }
}

[class*="client-icon-"] {
  display: block;
  width: 65px;
  height: 61px;
  background-image: url('/assets/footer-action-icons.png');
  background-repeat: no-repeat;
}


div.thank-wrapper{
  border: 1px solid #CCCCCC;
  box-shadow: 1px 1px 3px #B0B0B0;
  margin: 50px auto 0;
  padding: 20px;
  width: 400px;
  border-radius: 3px;
  h3{
    background: none repeat scroll 0 0 #123456;
    color: #FFFFFF;
    padding: 5px 0 5px 20px;
    width: 380px;
    font-weight: bold;
  }
  
  div.thankyou{
    background: none repeat scroll 0 0 gold;
    padding: 20px;
    border-radius: 0 0 3px 3px;
  }
}

form.client-form{
  margin-top: 50px !important;
  padding-left: 30px;
  fieldset.inputs{
    ol li{
      input, textarea{
        &:focus {
          border-color: #46aefe;
          outline: none;
          @include box-shadow(inset 0 1px 2px rgba(black, .1), 0 0 5px #46aefe);
          background: #F5F9CF;
        }
      }
    }
  }
  
  fieldset.actions{
    ol li.submit{
      input.contact-submit{
        @include button(pill, #1491CC);
        font-size: 16px;
        padding: 2px 25px;
      }
    }
  }
}


.nano .content {
padding: 20px;
}

.nano .pane {
background: #555;
width: 8px;
right: 1px;
  margin: 5px;
}

.nano .slider {
background: #111;
}

div.header{
  
  div#logo{
    background: url("/assets/land-logo.png") no-repeat scroll 0 0 transparent;
    width: 126px;
    height: 82px;
    margin: 20px 0px 0px 176px;
  }
}

div.inner-container{
  @inclue clearfix;
  
  div#left_banner{
    width: 180px;
    float: left;
    display: block;
  }
  div.middle-container{
    float: left;
    display: block;
    width: 570px;
    @include clearfix;
    div#stage{
      float: left;
      display: block;
      width: 570px;
      float: left;
      display: block;
      position: relative;
    }  
    
    div.divider{
      float: left;
      display: block;
      background: url("/assets/divider.png") no-repeat scroll 0 0 transparent;
      width: 570px;
      height: 45px;
    }    
    
    div.trademarks{
      float: left;
      display: block;
      width: 570px;
    }
  }
  
  div#right_banner{
    width: 180px;
    float: left;
    display: block;
  }
}



div.host-items{
  width: 570px;
  height: 320px;
  @include clearfix;
  padding: 0px 5px;
  
  div.loading-container{
      float: left;
      margin-top: 125px;
      margin-left: 0px;
      width: 30px;
      height: 36px;
  }

  div.item{
    width: 250px;
    height: 180px;
    border: 1px solid #ccc;
    @include linear-gradient(#fff, #EBEBEB);
    @include box-shadow(0px 1px 1px #ccc);  
    margin: 50px 0px 0px 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    float: left;
    display: block;
    
    
    
    div.content{
      width: 100%;
      position: relative;
      h2{
        font-size: 32px;
        font-weight: bold;
        padding: 20px 0 0;
        text-align: center;
      }
      
      div.rent-icon{
        position: absolute;
        background: url("/assets/rent.png") no-repeat scroll 0 0 transparent;
        top: 65px;
        left: 75px;
        width: 120px;
        height: 120px;
      }
      div.sale-icon{
        background: url("/assets/sale.png") no-repeat scroll 0 0 transparent;
        width: 120px;
        height: 120px;
        position: absolute;
        top: 65px;
        left: 75px;
      }
    }
  }

}

.drop-shadow {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    margin: 2em 0.5em 5em;
    padding: 1em;
    position: relative;
}


div.base-box{
  width: 178px;
  min-height: 100px;
  border: 1px solid #ccc;
  border-radius: 3px;
  h3{
    @include linear-gradient(to bottom, #44C5EC, #259BDB);
    border-bottom-color: #1C638F;
    border-top-color: #6AD2EF;
    color: white;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
  }
  p.phone-n{
    background: url("/assets/phone.png") no-repeat scroll 0 0 transparent;
    color: #CC0000;
    font-size: 20px;
    font-weight: bold;
    height: 16px;
    margin: 20px;
    padding: 7px 21px;
    text-align: center;
    width: 27px;
  }
}

div.nav-wrapper{
  width: 180px;
  h2{
    width: 181px;
    @include linear-gradient(to bottom, #44C5EC, #259BDB);
    padding: 10px 0;
    color: white;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
    @include box-shadow(3px 1px 3px #ccc);
    text-align: center;
  }  
}

div.supports{
  height: 160px;
  a{
    padding: 5px 0px 0px 20px;
  }
}

div#page-wrap{
  position: relative;
  div#feed_back{
    position: fixed;
    bottom: 100px;
    right: 0px;
    width: 40px;
    height: 90px;
    background: url("/assets/feedback.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    a.feedback{
      width: 40px;
      height: 80px;
      cursor: pointer;
    }
    
  }
}

div.list-items{
  @include clearfix;
  padding: 10px 15px 0px 15px;
  div.item{
    float: left;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #BBBBBB;
    width: 244px;
    height: 280px;
    margin: 20px 5px 10px 15px;
    &:hover{
      border: 1px solid #f0ad00;
      box-shadow: 0 0 5px #ffd057;
      cursor: pointer;
    }
    
    div.item-img{
      width: 242px;
      height: 180px;
      background: #f3f2f2;
    }
    
    div.item-info{
      @include clearfix;
      height: 100px;
      position: relative;
      div.title{
        float: left;
        color: #83C5D8;
        font-weight: bold;
        padding: 3px 5px 5px 10px;
        width: 94%;
      }
      div.price-tag{
        float: left;
        padding: 3px 3px 3px 10px;
        span.title{
          color: #777;
          font-size: 16px;
        }
        span.price{
          color: #c00;
          font-size: 32px;
          font-weight: bold;
          margin-left: 10px;
        }
      }
      div.item-footer{
        position: absolute;
        @include clearfix;
        right: 5px;
        bottom: 5px;
        
        a.btn-small{
          float: left;
          @include button(pill, #FBA200);
          color: #fff;
          padding: 2px 7px;
          margin-right: 3px;
        }
      }
    }
  }
}