@import "bourbon";



div#main_content {
  form.formtastic{
    margin: 0px auto !important;
    width: 60% !important;
    
    fieldset {
      ol {
        li{
          div#map_canvas{
            border: 1px solid #CCCCCC;
            border-radius: 3px 3px 3px 3px;
            box-shadow: 1px 1px 3px #CCCCCC;
            margin: 10px auto;
          }
        }
      }
    }
  }
}
