@import "bourbon";

.land-container{ 
    a.slidesjs-navigation{
      display: none !important;
    }
    
    ul.slidesjs-pagination{
      margin: 15px 47% 0 auto;
    }

    #slides {
      display: none;
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url("/assets/btns-next-prev.png");
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url("/assets/pagination.png");
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }
    
    #slides {
      display: none
    }

    .container {
      margin: 0 auto
    }

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1170px
      }
    }
}


div.image-preview{
  width: 500px;
  height: 350px;
}

div.no-data{
  background: none repeat scroll 0 0 #F3F3F3;
  height: 100px;
  padding: 30px;
  text-align: center;
  width: 300px;
  div.text{
    border: 3px dashed #999999;
    border-radius: 0px 0px 3px 3px;
    font-weight: bold;
    margin: 15px auto;
    padding: 20px;
    width: 200px;
  }
}

div.wrapper-detail{
  width: 96%;
  margin: 0px auto;
  overflow: hidden;
  box-shadow: 1px 1px 3px #ccc;
  border-radius: 3px;
  h3{
    @include linear-gradient(to bottom, #44C5EC, #259BDB);
    text-align: center;
    font-weight: bold;
    width: 100%;
    padding: 5px 0px;
    // @include linear-gradient(-90deg, #EFEFEF, #DFE1E2);
    border-color: #E6E6E6 -moz-use-text-color #CDCDCD #D4D4D4;
    
  }  
  div.detail{
    width: 96%;
    padding: 10px;
    min-height: 400px;
    border: 1px solid #ccc;
    background: #f3f3f3;
    
    div.header-info{
      margin-bottom: 20px;
      div.item-info{
        
        @include clearfix;
        border-bottom: 1px solid #ccc;
        margin: 3px 0;
        padding: 3px 0 3px 10px;
        width: 95%;
        span.label{
          float: left;
          width: 60px;
          text-align: right;
        }
        span.text{
          float: left;
          padding-left: 10px;
        }
      }
    }
  }
}


/** bottom trademarks*/
div.bottom-trademarks{
  width: 570px;
  float: left;
  display: block;
  div.bottom-trademark-container{
    margin: 0px auto;
    width: 550px;
    div.trade-slides{
      position: relative;
      div.slidesjs-container{
        width: 487px !important;
        margin: 0px auto;
        ul{
          display: inline;
          @include clearfix;
          list-style: none;
          li{
            float: left;
            img{
              border: 5px solid #123456;
              margin-right: 3px;
            }
          }
        }
      }
      ul.slidesjs-pagination{
          display: none !important;
        }
        
        a.slidesjs-navigation{
          display: block !important;
        }
        
        a.slidesjs-previous{
          position: absolute;
          top: 35px ;
          left: 0px;
        }
        a.slidesjs-next{
          position: absolute;
          top: 35px;
          right: -7px;
        }
        a.slidesjs-play{
          display: none !important;
        }
        a.slidesjs-stop{
          display: none !important;
        }
        
    }
  }
}

